body {
  background-color: white;
  padding: 0px;
  margin: 0;
  font-family:'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  background-color: grey;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: absolute;
  font-family:'Roboto',sans-serif;
}

.App {
  margin: 0;
}

ul.navmenu {
  /* overflow: auto; */
  list-style-type: none;
  display: inline-block;
  background-color: rgb(0, 24, 168);
  padding: 0px;
}
 
li {
  height: 20px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 18px; 
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: white;
  font-family:'Roboto',sans-serif;
  font: 18px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: rgb(175, 174, 174);
}

li .active {
  font-weight: bold;
  font-size: 19px;
  color: white;
  border-bottom: 1px solid currentColor;
}

button .active {
  font-weight: bold;
}

