body {
  background-color: #ffffff;
  padding: 25px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  overflow: auto;
  list-style-type: none;
  display: inline-block;
}
 
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px; 
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #111;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: rgb(175, 174, 174);
}
 
li.active a {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.content {
  background-color: #FFF;
  padding: 20px;
}